#login {
    &__wrapper {
        width: 360px;
        max-width: 100%;
        margin: 0 auto;
        transition: all 280ms cubic-bezier(.4, 0, .2, 1);
    }
}
    
.login__card__heading {
    text-align: center;
    margin-bottom: 32px;
}

.user_avatar {
    width: 64px;
    height: 64px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background-image: url(../images/avatars/user.png);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .085);
    background-position: 50% 1px;
}
